<h1>
  {{ title }}
</h1>

<div class="example-container">
  <h3>Normal Buttons</h3>
  <div class="button-row">
    <button mat-button>Flat button</button>
    <button mat-raised-button>Raised button</button>
    <button mat-fab>
      <!-- <mat-icon>check</mat-icon> -->
    </button>
    <button mat-mini-fab>
      <!-- <mat-icon>check</mat-icon> -->
    </button>
  </div>

  <h3>Link Buttons</h3>
  <div class="example-button-row">
    <a mat-button routerLink=".">Flat button</a>
    <a mat-raised-button routerLink=".">Raised button</a>
    <a mat-fab routerLink=".">
      <!-- <mat-icon>check</mat-icon> -->
    </a>
    <a mat-mini-fab routerLink=".">
      <!-- <mat-icon>check</mat-icon> -->
    </a>
  </div>
</div>

<h2>Checkbox Module</h2>
